<h1>Muffin</h1>

<% @muffin_rendered.each do |muffin| %>
    <div>
        <h3>
            <%= muffin.name %>
        </h3>
        
        <img src='<%= muffin.image %>'>

       <p>
        <%= muffin.description %>
       </p>

        <p> 
        $<%= muffin.price %>
        </p>
    </div>
<% end %>