$bg-img: image-url('images/jazz_print.jpg', true, true);
@import 'fonts';
@import 'colors';
body{
    
    background-image: url('$bg-img'); 
    background-size: cover;
    background-color: $green;
    h1{
        font-family: 'Bakery';
        font-size: 5em;
        text-align: center;
    }
    #logo {
        height: 35px;
        width: auto;
    } 
    #wrapper{
        display: flex;
        flex-direction: row wrap;
        justify-content: space-around;
        align-items: center;
        .cards{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 150px;
            border: 5px $purple dashed;
            height: 300px;
            background-color: white;
            img{
                height: 150px;
                width: auto;
                margin: 30px;
                text-align: center;
            }
            .btn-primary  { 
                background-color: $green; 
                color: $purple;
                font-weight: bold;
                text-transform: uppercase;
                border: 2px solid $purple;
            }
            
        }
    }
    
}